@namespace BlazorFluentUI
@inherits FluentUIComponentBase

<LocalCS @bind-Rules="@DocumentCardLocationRules" />

<a class=@($"{RootRule.Selector?.SelectorName} {ClassName}") href="@LocationHref" @onclick="OnClick.HasValue ? OnClick.Value : EventCallback.Empty" style="@Style" @ref="RootElementReference" aria-label="@AriaLabel">
    @Location
</a>